<nav role="navigation" class="navbar navbar-toggleable-sm">
    <ul class="navbar-nav nav-logo">
        <li class="nav-item logo-wrapper">
            <a href="/">
                <!--
                <div class="logo">
                    <img src="assets/img/logo/logo-icon.png" alt="Logo">
				</div>
				-->
                <h1 class="brand-text">核技處</h1>
            </a>
        </li>
    </ul>
    <ul class="navbar-nav nav-left">

        <!-- Mobile Menu Trigger -->
        <li class="nav-item">
            <a md-ripple href="javascript:void(0)" (click)="toggleAppMobileLeftMenuSidebar()" class="nav-link mobile-menu-trigger">
                <i class="mdi mdi-backburger"></i>
            </a>
        </li>

        <!--/ End Mobile Menu Trigger -->
        <li class="nav-item">
            <a md-ripple href="javascript:void(0)" role="button" (click)="toggleMenuSideabar()" class="nav-link menu-trigger">
                <i class="mdi mdi-backburger"></i>
            </a>
        </li>
        <li class="nav-item">
            <h1 style="padding-top:24px;color:white">訓練管理系統</h1>
        </li>
    </ul>

    <ul class="navbar-nav nav-right">
        <li class="nav-item ">
            <a md-ripple href="javascript:void(0)" (click)="search.searchStatus = true" class="nav-link">
                <i class="zmdi zmdi-search"></i>
            </a>
        </li>
        <li class="nav-item">
            <a md-ripple href="javascript:void(0)" (click)="toggleAppRightSidebar()" class="nav-link">
                <i [ngClass]="{'mdi-playlist-minus': false, 'mdi-playlist-plus': true}" class="mdi"></i>
            </a>
        </li>
    </ul>

</nav>
<topbar-search #search></topbar-search>