<div class="content-body container">
    <h2>新增課程</h2>
    <form [formGroup]="addCourseForm" (ngSubmit)="onSubmit()">
        <p>
            <mat-form-field>
                <input placeholder="課程名稱" matInput formControlName="courseName">
            </mat-form-field>
        </p>

        <mat-form-field>
            <input matInput [matDatepicker]="startDate" placeholder="開訓日期" formControlName="courseStartDate">
            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startDate disabled="false"></mat-datepicker>
        </mat-form-field>
        /
        <mat-form-field>
            <input matInput [matDatepicker]="endDate" placeholder="結訓日期" formControlName="courseEndDate">
            <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
            <mat-datepicker #endDate disabled="false"></mat-datepicker>
        </mat-form-field>

        <p>
            <mat-form-field>
                <input placeholder="訓練時數" matInput formControlName="trainHours">
            </mat-form-field>
        </p>

        <div formGroupName="students">
            <mat-form-field *ngFor="let section of studentsBySection; let i=index">
                <mat-select [placeholder]="section.sectionName" multiple [formControlName]="section.sectionCode">
                    <mat-option *ngFor="let student of section.students" [value]="student.studentId">{{student.studentName}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <p>
            <button mat-raised-button color="primary" type="submit" [disabled]="!addCourseForm.valid || isSubmitted">新增訓練課程</button>
        </p>
        <mat-spinner *ngIf="isSubmitted">
        </mat-spinner>


    </form>
</div>



<!-- 
<p>
    <mat-form-field>
        <mat-select placeholder="學員" formControlName="students" multiple>
            <mat-optgroup *ngFor="let section of studentsBySection" [label]="section.sectionName">
                <mat-option *ngFor="let student of section.students" [value]="student.studentId">
                    {{ student.studentName }}
                </mat-option>
            </mat-optgroup>
        </mat-select>
    </mat-form-field>
</p>
<mat-checkbox class="example-margin" [(ngModel)]="checked" value="xx">Checked</mat-checkbox>

<pre>
  {{checked}}
</pre>

-->