<div class="content-body container">
    <h2>編輯課程</h2>
    <form [formGroup]="editCourseForm" (ngSubmit)="onSubmit()">
        <p>
            <mat-form-field>
                <input placeholder="課程名稱" matInput formControlName="courseName">
            </mat-form-field>
        </p>

        <mat-form-field>
            <input matInput [matDatepicker]="startDate" placeholder="開訓日期" formControlName="courseStartDate">
            <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
            <mat-datepicker #startDate disabled="false"></mat-datepicker>
        </mat-form-field>
        /
        <mat-form-field>
            <input matInput [matDatepicker]="endDate" placeholder="結訓日期" formControlName="courseEndDate">
            <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
            <mat-datepicker #endDate disabled="false"></mat-datepicker>
        </mat-form-field>

        <p>
            <mat-form-field>
                <input placeholder="訓練時數" matInput formControlName="trainHours">
            </mat-form-field>
        </p>

        <div formGroupName="students">
            <mat-form-field *ngFor="let section of studentsBySection; let i=index">
                <mat-select [placeholder]="section.sectionName" multiple [formControlName]="section.sectionCode">
                    <mat-option *ngFor="let student of section.students" [value]="student.studentId">{{student.studentName}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <p>
            <button mat-raised-button color="primary" type="submit" [disabled]="!editCourseForm.valid">更新訓練課程資訊</button>
            <button mat-raised-button color="warn" type="submit" (click)="deleteCourse()">刪除本訓練課程</button>
        </p>
    </form>
</div>