<div id="content_wrapper" class="fullWidth1-wrapper">
    <div class="content">
        <header class="page-header header-sm">
            <h1>核技處訓練管理系統</h1>
        </header>
        <div class="content-body">
            <div class="card">
                <header class="card-header">
                    <h2 class="card-title">核能技術處訓練管理系統</h2>

                    <ul class="actions icons top-right">
                        <li>
                            <a href="javascript:void(0)" data-toggle="refresh">
                                <i class="zmdi zmdi-refresh-alt"></i>
                            </a>
                        </li>
                        <li class="dropdown" dropdown>
                            <a href="javascript:void(0)" dropdownToggle>
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>
                        </li>
                    </ul>
                </header>
                <div class="card-block">
                    <h3>相關管理功能請點選左方連結。
                    </h3>

                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer_wrapper" class="footer_wrapper"></footer>