<div id="content_wrapper" class="fullWidth1-wrapper">
    <div class="content">
        <header class="page-header header-sm">
            <h1>核技處訓練管理系統</h1>
        </header>
        <div class="content-body">
            <div class="card">
                <header class="card-header">
                    <h2 class="card-title">相關管理功能請點選左方連結。</h2>


                </header>
                <!-- <div class="card-block">
                    <h3>相關管理功能請點選左方連結。
                    </h3>

                    
                    <a href="javascript:void(0)" [routerLink]="['/auth','loginWithFb']">FB登入頁面</a>
                    <a href="javascript:void(0)" [routerLink]="['/auth','loginWithExplicitFlow']">FB Explicit Flow</a>
                   
                </div> -->
            </div>
        </div>
    </div>
</div>
<footer id="footer_wrapper" class="footer_wrapper"></footer>