<div class="content-body container">
    <div class="content-body" fxLayout="column" fxLayoutAlign="center center">
        <div class="card w-25">
            <h4 class="card-header text-center">
                管理系統登入
            </h4>
            <div class="card-body">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div fxLayout="column" fxLayoutAlign="center">
                        <mat-form-field>
                            <input placeholder="帳號" matInput formControlName="username">
                        </mat-form-field>
                        <mat-form-field>
                            <input placeholder="密碼 " type="password" matInput formControlName="password">
                        </mat-form-field>
                        <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid || isSubmitted ">登入</button>
                    </div>
                    <mat-spinner *ngIf="isSubmitted">
                    </mat-spinner>
                </form>
            </div>
        </div>
    </div>
</div>