/*------------------------------------------------------------------------------
  MaterialLab - Angular 4 Seed Project
------------------------------------------------------------------------------*/

//== mixins
@import '../node_modules/compass-mixins/lib/animate';
//== Vendor
@import '../node_modules/multi-brand-colors/dist/scss/index.scss';
@import '../node_modules/mdi/css/materialdesignicons.css';
@import '../node_modules/material-design-iconic-font/dist/css/material-design-iconic-font.css';
//== App
@import "./app/shared/styles/app";
//== Themes
@import "./app/shared/styles/themes/theme-a";
@import "~@progress/kendo-theme-bootstrap/scss/all";
.float-add-btn {
    top: auto !important;
    right: 20px !important;
    bottom: 10px !important;
    left: auto !important;
    position: fixed !important;
}